#pageFrontBanner {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-o-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	display: flex;
	width: 100%;
	top: 0px;
	background-color: #7fd648;
    color: white;
	font-family: 'Courgette', cursive;
	font-size: large;
    font-weight: bold;
    z-index: 1000;
}
#pageFrontBanner p {
	margin-left: 1em;
}
#formBody {
	font-family: 'Hind Siliguri', sans-serif;
	color: #787878;
	padding: 1em;
	display: flex;
	flex-direction: column;
	margin-top: 6em;
	width: 80%;
	flex-wrap: wrap-reverse;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-o-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question:nth-child(2n+1){
	background-color: #f7f7f7;
}
.question {
	display: flex;
	flex-direction: line;
	justify-content: space-between;
	font-size: large;
}
#nbOfPerson{
	min-width: 200px;
}
#formBody .question {
	padding: 1em 10% 1em 10%;
}
#starSpan {
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
}

.basic_slider .mainSlideZone {
    background: linear-gradient(to left, #7fd648a6, #f6f6f6);
}
.basic_rateSlider .rateItem {
    font-size: x-large;
}
div[data-role=page]{
	background-color: white
}
.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after, html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after, .ui-btn.ui-radio-on.ui-btn-a:after {
    
    border-color: #7fd648 !important;
}
.ui-focus{
	box-shadow: none !important;
}

#submit {
	box-shadow: none;
	border-radius: none;
	color: white;
	background-color: #7fd648;
}

@media (max-width: 700px) {
	.question span {
		font-size: x-small !important;
	}
	.ui-checkbox .ui-btn, .ui-radio .ui-btn {
		font-size: smaller;
	}
	.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after {
	    margin: -9px 2px 0 -4px !important;
	}
}